<div class="list-wrapper">
    <div class="header-wrapper" (click)="openClose()" [ngClass]="{'header-wrapper-opened': isOpenedList}">
        <div class="title">{{title}}</div>
        <div class="icons-container">
            <img src="..\assets\arrow.png" class="icon down" [ngClass]="{'opacity1': !isOpenedList, 'opacity0': isOpenedList}">
            <img src="..\assets\arrow.png" class="icon" [ngClass]="{'opacity1': isOpenedList, 'opacity0': !isOpenedList}">
        </div>
    </div>
    <div class="items-wrapper">
        <div class="items" [ngClass]="{'opened': isOpenedList}">
            <div class="item br1" *ngFor="let item of list; let i = index" (click)="select(i)" [ngClass]="{'bb1': i < list.length - 1}">
                {{i + 1}}. {{item.code}}: {{item.name}}
            </div>
        </div>
    </div>
</div>