<div class="exchange-wrapper">
    <div class="exchange-container">
        <div class="exchange-item">
            <input type="number" class="input" min="0" placeholder="Enter value..." [(ngModel)]="leftValue" (input)="updateRight()">
            <app-list [list]="list" (selectCurrency)="selectLeftCurrency($event)"></app-list>
        </div>
        <div class="buttons-wrapper">
            <div class="button-wrapper">
                <div class="button" (click)="reset()">Reset</div>
            </div>
        </div>
        <div class="exchange-item">
            <input type="number" class="input" min="0" placeholder="Enter value..." [(ngModel)]="rightValue" (input)="updateLeft()">
            <app-list [list]="list" (selectCurrency)="selectRightCurrency($event)"></app-list>
        </div>
    </div>
</div>