<div class="exchange-wrapper">
    <form class="exchange-container" [formGroup]="form">
        <div class="exchange-item">
            <!-- <input type="number" class="input" min="0" placeholder="Enter value..." [(ngModel)]="leftValue" (input)="updateRight()"> -->
            <app-input [formControlName]="'leftValue'"></app-input>
            <app-list [list]="list" [formControlName]="'leftCurrency'"></app-list>
        </div>
        <div class="buttons-wrapper">
            <div class="button-wrapper" (click)="reset()">
                <div class="button" >Reset</div>
            </div>
        </div>
        <div class="exchange-item">
            <!-- <input type="number" class="input" min="0" placeholder="Enter value..." [(ngModel)]="rightValue" (input)="updateLeft()"> -->
            <app-input [formControlName]="'rightValue'"></app-input>
            <app-list [list]="list" [formControlName]="'rightCurrency'"></app-list>
        </div>
    </form>
</div>