.buttons-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px;
    box-sizing: border-box;
}
.button-wrapper {
    flex: 1;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: var(--dark-color);
    padding: 30px;
    box-sizing: border-box;
    border-radius: 50px;
    outline: 2px solid var(--secondary-color);
    cursor: pointer;
    transition: var(--main-transition);
}
.button-wrapper:hover {
    outline: 6px solid var(--secondary-color);
}
.button-wrapper:hover .icon {
    scale: 1;
}
.button-wrapper:hover .description {
    scale: 1;
}
.icon {
    transition: var(--main-transition);
    width: 150px;
    height: 150px;
    scale: 0.75;
}
.description {
    transition: var(--main-transition);
    font-size: var(--big-font-size);
    font-weight: var(--title-font-weight);
    color: var(--font-color);
    scale: 0.75;
}